*{box-sizing: border-box;}

.container{
    max-width: 100%;
}

a, input[type="button"], input[type="submit"] {
    padding-left: auto;
    padding-right: auto;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 0.5vw;
    float: left;

    text-decoration: none;
    background-color: rgb(36, 36, 255);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-radius: 0.5vw;
    padding: 0.5em;
    box-shadow: 4px 4px 3px rgb(82, 82, 82);
}
input[type="submit"]:hover{
    background-color: rgb(83, 83, 253);
}
input[type="button"]:hover{
    background-color: rgb(83, 83, 253);
}
a:hover{
    background-color: rgb(83, 83, 253);
}
table{
    border-radius: 10px;
    border-style: groove;
    font-family: Arial, Helvetica, sans-serif;
    grid-area: t;
}
h1{
    padding:1vw 1vw 1vw 1vw;
    width:inherit;
    margin:auto;
}
select{
    border-radius: 1vw;
    font-size: large;
}

.heading{
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    border-top-left-radius: 1vw;
    font-size:large;
    grid-area: h;
}
.heading-image{
    border-bottom-right-radius: 1vw;
    border-top-right-radius: 1vw;
    padding: 1vw;
    grid-area: hi;
}
.heading-title{
    padding-left: 2vw;
    border-bottom-left-radius: 1vw;
    font-size: small;
    grid-area: ht;
}
[class*="heading"]{
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
.menu{
    margin-top: 1vw;
    margin-bottom: 2vw;
    grid-area: m;
    margin-left:auto;
    margin-right:auto;
}
.content{
    background-color: rgb(196, 196, 196);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 2vw;
    margin-top: 0.5vw;
    grid-area: c;
}
.footer-image{
    margin-top: 3vw;
    grid-area: fi;
}
.form-credentials{
    grid-area:fc;
}
.form-buttons{
    margin-top: 1vw;
    grid-area: fb;
}
form{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-style:solid;
    border-color: rgb(37, 131, 255);
    border-radius: 1vw;
    margin-top: 2vw;
    margin: 0 auto;
    padding:2vw;
    text-align: center;
    grid-area: f;
    display:block;
}
.decor-image{
    margin-top: 1vw;
    grid-area: di;
}
input{
    border-radius: 0.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 0.1em;
    margin-top: 1vw;
}